# Environments
.env
.env*
*.env
!.env.sample
!.env.production
!_DEPLOYMENT_/test-locally/.env
!_DEPLOYMENT_/production/.env
docker.env
volumes

# compiled output
node_modules
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
pnpm-debug.log*
pnpm-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

_DEPLOYMENT_/test-locally/certs/*
!_DEPLOYMENT_/test-locally/certs/gen-self-signed-certs.sh
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo
.VSCodeCounter/*
node_modules
*/# Environments
.env
.env*
*.env
!.env.sample
!.env.production
!_DEPLOYMENT_/test-locally/.env
!_DEPLOYMENT_/production/.env
docker.env
volumes

# compiled output
node_modules
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
pnpm-debug.log*
pnpm-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

_DEPLOYMENT_/test-locally/certs/*
!_DEPLOYMENT_/test-locally/certs/gen-self-signed-certs.sh
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo
.VSCodeCounter/*
*/node_modules